{% extends "layout.html.twig" %}

{% block title %}Pokédex - Index{% endblock %}

{% block content %}
    <nav>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
            </thead>
            <tbody>
                {% for name, id in pokemon %}
                <tr>
                    <td>{{ id }}</td>
                    <td><a href="/?search={{ name }}">{{ name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item"><a class="page-link" href="{{ prevPageUrl }}">Previous</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="#">{{ page }}</a></li>

            {% if page < max_page %}
            <li class="page-item"><a class="page-link" href="{{ nextPageUrl }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
