{% extends "layout.html.twig" %}

{% block title %}Pokédex - {{ pokemon.name|capitalize }}{% endblock %}

{% block content %}
    <div class="card ml-auto mr-auto mt-5" style="width: 18rem;">
        <img class="card-img-top" src="{{ pokemon.maleSprites.front }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ pokemon.name|capitalize }}</h5>
            <p class="card-text">Height: {{ pokemon.height / 10 }}m</p>
            <p class="card-text">Weight: {{ pokemon.weight / 10 }}kg</p>
            <p class="card-text">Species: {{ pokemon.species.name|capitalize }}</p>
            <p class="card-text">Abilities:
                <table class="table">
                    <tbody>
                        {% for ability in pokemon.abilities %}
                        <tr>
                            <td>{{ ability.name|capitalize }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>
{% endblock %}
